@using VienShops.Models
@model List<Cart>
@{
	ViewBag.Title = "Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_fullwidth">
	<div class="container shopping-cart">
		<div class="row">
			<div class="col-md-12">
				<h3 class="title">
					Giỏ hàng
				</h3>
				<div class="clearfix">
				</div>
				<table class="shop-table">
					<thead>
						<tr>
							<th>
								Hình ảnh
							</th>
							<th>
								Chi tiết
							</th>
							<th>
								Giá
							</th>
							<th>
								Số lượng
							</th>
							<th>
								Tổng tiền
							</th>
							<th>
								Xóa
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									<img src="~/images/products/small/@item.sUrlHinh" alt="">
								</td>
								<td>
									<div class="shop-details">
										<div class="productname">
											@item.sTenSP
										</div>


										<p>
											Chất liệu :
											<strong class="light-red">
												@item.cChatLieu
											</strong>
										</p>
									</div>
								</td>
								<td>
									<h5>
										@String.Format("{0:0,0}", @item.dDonGia) VND
									</h5>
								</td>
								@using (Html.BeginForm("UpdateCart", "Cart", new { @sMaSP = @item.sMaSP }))
								{
									<td>
										@*Custom css - Edit Cart*@
										@Html.TextBox("txtQuantity", @item.iSoLuong, new { @class = "updateQuantity" })
										<input type="submit" value="Cập nhật" style="padding: 10px; margin-top: 10px;border-radius: 10px;background-color: #2c3e50;color: white;" />
									</td>
								}
								<td>
									<h5>
										<strong class="red">
											@String.Format("{0:0,0}", @item.dThanhTien) VND
										</strong>
									</h5>
								</td>
								<td>
									@*Delete Cart*@
									<a href="@Url.Action("DeleteCart", "Cart",new { @sMaSP = @item.sMaSP })">
										<img src="~/images/remove.png" alt="">
									</a>
								</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
								@using (Html.BeginForm("Index", "Home"))
								{
									<button class="pull-left" type="submit">
										Continue Shopping
									</button>
								}
								<button class=" pull-right">
									Update Shopping Cart
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="clearfix">
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="shippingbox">
							<h5>
								Thông tin khách hàng
							</h5>
							<form>
								<label>
									Chọn tỉnh thành *
								</label>
								<select class="">
									<option value="AL">
										An Giang
									</option>
									<option value="AK">
										Bà Rịa - Vũng Tàu
									</option>
									<option value="AZ">
										Bắc Giang
									</option>
									<option value="AR">
										Bắc Kạn
									</option>
									<option value="CA">
										Bạc Liêu
									</option>
									<option value="CO">
										Bắc Ninh
									</option>
									<option value="CT">
										Bến Tre
									</option>
									<option value="DE">
										Bình Định
									</option>
									<option value="DC">
										Bình Dương
									</option>
									<option value="FL">
										Bình Phước
									</option>
									<option value="GA">
										Bình Thuận
									</option>
									<option value="HI">
										Cà Mau
									</option>
									<option value="ID">
										Cao Bằng
									</option>
									<option selected="" value="IL">
										Đắk Lắk
									</option>
									<option value="IN">
										Đắk Nông
									</option>
									<option value="IA">
										Điện Biên
									</option>
									<option value="KS">
										Đồng Nai
									</option>
									<option value="KY">
										Đồng Tháp
									</option>
									<option value="LA">
										Gia Lai
									</option>
									<option value="ME">
										Hà Giang
									</option>
									<option value="MD">
										Hà Nam
									</option>
									<option value="MA">
										Hà Tĩnh
									</option>
									<option value="MI">
										Hải Dương
									</option>
									<option value="MN">
										Hậu Giang
									</option>
									<option value="MS">
										Hòa Bình
									</option>
									<option value="MO">
										Hưng Yên
									</option>
									<option value="MT">
										Khánh Hòa
									</option>
									<option value="NE">
										Kiên Giang
									</option>
									<option value="NV">
										Kon Tum
									</option>
									<option value="NH">
										Lai Châu
									</option>
									<option value="NJ">
										Lâm Đồng
									</option>
									<option value="NM">
										Lạng Sơn
									</option>
									<option value="NY">
										Lào Cai
									</option>
									<option value="NC">
										Long An
									</option>
									<option value="ND">
										Nam Định
									</option>
									<option value="OH">
										Nghệ An
									</option>
									<option value="OK">
										Ninh Bình
									</option>
									<option value="OR">
										Ninh Thuận
									</option>
									<option value="PA">
										Phú Thọ
									</option>
									<option value="RI">
										Quảng Bình
									</option>
									<option value="SC">
										Quảng Nam
									</option>
									<option value="SD">
										Quảng Ngãi
									</option>
									<option value="TN">
										Quảng Ninh
									</option>
									<option value="TX">
										Quảng Trị
									</option>
									<option value="UT">
										Sóc Trăng
									</option>
									<option value="VT">
										Sơn La
									</option>
									<option value="VA">
										Tây Ninh
									</option>
									<option value="WA">
										Thái Bình
									</option>
									<option value="WV">
										Thái Nguyên
									</option>
									<option value="WI">
										Thanh Hóa
									</option>
									<option value="WY">
										Thừa Thiên Huế
									</option>
									<option value="WY">
										Tiền Giang
									</option>
									<option value="WY">
										Trà Vinh
									</option>
									<option value="WY">
										Tuyên Quang
									</option>
									<option value="WY">
										Vĩnh Long
									</option>
									<option value="WY">
										Vĩnh Phúc
									</option>
									<option value="WY">
										Yên Bái
									</option>
									<option value="WY">
										Phú Yên
									</option>
									<option value="WY">
										Cần Thơ
									</option>
									<option value="WY">
										Đà Nẵng
									</option>
									<option value="WY">
										Hải Phòng
									</option>
									<option value="WY">
										Hà Nội
									</option>
									<option value="WY">
										TP HCM
									</option>
								</select>
								<label>
									Quận/huyện *
								</label>
								<input />
								<label>
									Phường/xã/thị trấn *
								</label>
								<input />
								<label>
									Điện thoại *
								</label>
								<input />
								<div class="clearfix">
								</div>
								<div class="row">
									<p>Thông tin trên là chính xác</p>
									<input style="align-items:flex-start" type="checkbox" />
								</div>

							</form>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="shippingbox">
							<h5>
								Discount Codes
							</h5>
							<form>
								<label>
									Enter your coupon code if you have one
								</label>
								<input type="text" name="">
								<div class="clearfix">
								</div>
								<button>
									Get A Qoute
								</button>
							</form>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="shippingbox">
							<div class="subtotal">
								<h5>
									Tổng tiền
								</h5>
								<span>
									@String.Format("{0:0,0}", @ViewBag.Total) VND
								</span>
							</div>
							<div class="grandtotal">
								<h5>
									Thành Tiền
								</h5>
								<span>
									@String.Format("{0:0,0}", @ViewBag.Total) VND
								</span>
							</div>
							<button>
								Thanh toán
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">
		</div>
	</div>
</div>
